th, td {
    padding:10px;
    text-align:center;
    vertical-align: middle;
}
#result {
    test-align:left;
    max-width: 700px;
    max-height: 300px;
    overflow:auto;
}

nav ul li {
    display: inline;
}