<head>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <script src="/static/code.js"></script>
    <nav>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/login">LOGIN</a>
            </li>
            <li>
                <a href="/nmapForm">NMAP</a>
            </li>
            <li>
                <a href="/create">CREATE USER</a>
            </li>

        </ul>
    </nav>
    {% block body %}{% endblock %}
</body>